<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INormalCal" />
                <binding name="BasicHttpBinding_IBankCal" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7780/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INormalCal" contract="ServiceReference1.INormalCal"
                name="BasicHttpBinding_INormalCal" />
            <endpoint address="http://localhost:7780/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBankCal" contract="ServiceReference1.IBankCal"
                name="BasicHttpBinding_IBankCal" />
        </client>
    </system.serviceModel>
</configuration>